<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
        <!--
        This configuration file is for tests running on the developer machine
        -->
<hibernate-configuration>
    <session-factory>

        <property name="connection.provider_class">
            org.hibernate.connection.C3P0ConnectionProvider
        </property>
        <property name="hibernate.c3p0.acquire_increment">1</property>
        <property name="hibernate.c3p0.idle_test_period">100</property> 
        <property name="hibernate.c3p0.max_size">100</property>
        <property name="hibernate.c3p0.max_statements">0</property>
        <property name="hibernate.c3p0.min_size">10</property>
        <property name="hibernate.c3p0.timeout">100</property>

        <!--
        hsql properties
        -->
        <!--
        <property name="hibernate.connection.url">jdbc:hsqldb:hsql://localhost</property>
        <property name="hibernate.connection.driver_class">org.hsqldb.jdbcDriver</property>
        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>
        -->
        
        <!--
        derby properties
        -->
        <property name="connection.url">jdbc:derby:target/derbyDB/digitv_dev_db;create=true</property>
        <property name="connection.driver_class">org.apache.derby.jdbc.ClientDriver</property>
        <property name="hibernate.cglib.use_reflection_optimizer">false</property>
        <property name="transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
        <property name="hibernate.dialect">org.hibernate.dialect.DerbyDialect</property>

        <!--<property name="hibernate.connection.username">user1</property>
        <property name="hibernate.connection.password">user1</property>-->
        <!--  thread is the short name for
          org.hibernate.context.ThreadLocalSessionContext
          and let Hibernate bind the session automatically to the thread
        <property name="current_session_context_class">thread</property>
        -->

        <!-- this will show us all sql statements -->
        <property name="hibernate.show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="hbm2ddl.auto">create-drop</property>

        <!-- mapping files -->
        <!-- <mapping resource="/Mappings.hbm.xml" />  -->
        <!--  <mapping resource="dk/statsbiblioteket/digitaltv/scheduler/model/MachineConfiguration.hbm.xml"/>  -->
        <mapping class="dk.statsbiblioteket.digitaltv.scheduler.model.MachineConfiguration"/>
        <mapping class="dk.statsbiblioteket.digitaltv.scheduler.model.DigitalChannelRecordingStream"/>
        <mapping class="dk.statsbiblioteket.digitaltv.scheduler.model.Pid"/>
        <mapping class="dk.statsbiblioteket.digitaltv.scheduler.model.DigitalTVRecordingSource"/>
        <mapping class="dk.statsbiblioteket.digitaltv.scheduler.model.RecordingSource"/>
        <mapping class="dk.statsbiblioteket.digitaltv.scheduler.model.Channel"/>
        <mapping class="dk.statsbiblioteket.digitaltv.scheduler.model.ChannelRecordingStream"/>
        <mapping class="dk.statsbiblioteket.digitaltv.access.model.RitzauProgram" />
        <mapping class="dk.statsbiblioteket.digitaltv.access.model.TransportStreamChannel" />
        <mapping class="dk.statsbiblioteket.digitaltv.access.model.TransportStreamFile" />
        <mapping class="dk.statsbiblioteket.digitaltv.access.model.ChannelMapping" />
        <mapping class="dk.statsbiblioteket.digitaltv.tvmeter.downloader.TVMeterFile" />
        <mapping class="dk.statsbiblioteket.digitaltv.access.model.RitzauProgramAnnotation" />
        <mapping class="dk.statsbiblioteket.digitaltv.access.model.BartFile"/>
        <mapping class="dk.statsbiblioteket.digitaltv.tvmeter.parser.model.AdLogLine"/>
        <mapping class="dk.statsbiblioteket.digitaltv.tvmeter.parser.TvmeterProgram"/>
        <mapping class="dk.statsbiblioteket.digitaltv.access.model.CompositeProgram"/>
        <mapping class="dk.statsbiblioteket.digitaltv.access.model.RitzauChannelId2SBChannelMappingConfigurationState"/>
        <mapping class="dk.statsbiblioteket.digitaltv.tv2regional.TV2RegionalFile"/>
        <mapping class="dk.statsbiblioteket.digitaltv.access.model.ChannelMapping"/>
        <mapping class="dk.statsbiblioteket.mediaplatform.ingest.model.YouSeeChannelMapping" />
        <mapping class="dk.statsbiblioteket.mediaplatform.ingest.model.ChannelArchiveRequest"/>
        <!--<mapping class="dk.statsbiblioteket.DerbyHibernateLobTestcase" />-->
    </session-factory>
</hibernate-configuration>